*{
  margin: 0;
  padding: 0;
}

.signInMain{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  justify-content: center;
  align-items: center;
}

.PaperLogin{
  text-align: center;
  padding: 3vh 2vw;
}

.textFieldDiv{
  display: flex;
  justify-content: center;
}

.paragraph{
  
  margin: 2vh 0 0 0;
}

.mainNavbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw;
  /* background-color: rgb(4, 101, 206); */
  font-family: 'Open Sans', sans-serif;
  color: white;
  /* margin:"0 0 4vh 0" */
}

.innerDiv{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MiddleDiv{
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper:hover{
  box-shadow: 1px 2px 8px 5px #888888;
}

.surveyCard:hover{
  box-shadow: 1px 2px 8px 5px #cbcbcb;
}

.gatewayDiv{
  padding: 4vh 4vw;
  background-color: rgb(156, 156, 156,0.2);
  border-radius: 10px;
  box-shadow: 1px 2px 8px 5px #888888;
}